<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dandremids.src"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_main"
        android:theme="@style/AppTheme" >
        <activity
            android:name="dandremids.src.LoginActivity"
            android:label="@string/app_name_main"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dandremids.src.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="dandremids.src.DandremidActivity"
            android:label="@string/title_activity_creature"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="dandremids.src.alarms.WildDandremidAlarm" />
        <receiver android:name="dandremids.src.alarms.UpdateDandremidAlarm" />
        <receiver android:name="dandremids.src.alarms.UpdateSecondaryDataAlarm" />

        <activity
            android:name="dandremids.src.CombatActivity"
            android:label="@string/title_activity_combat"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="dandremids.src.UserSettingsActivity"
            android:label="@string/title_activity_user_settings" >
        </activity>
        <activity
            android:name="dandremids.src.LoadCombatActivity"
            android:label="@string/title_activity_load_combat"            
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="dandremids.src.DialogCombatActivity"
            android:theme="@style/Theme.Transparent"
            android:label="@string/title_activity_dialog_combat" >
        </activity>
    </application>

</manifest>
